AssertionsServiceTests/src/test/resources/WSDL/AttributesAreUsedForMetaInf/Sample_Pass.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
    Licensed under the Apache License, Version 2.0 (the "License"); 
    you may not use this file except in compliance with the License. 
    You may obtain a copy of the License at 
   
       http://www.apache.org/licenses/LICENSE-2.0
       
-->
<wsdl:definitions targetNamespace="http://iop.pb.com/WebServices/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://iop.pb.com/WebServices/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://iop.pb.com/WebServices/">
      <s:element name="GetCountryListForCarrier">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="TransactionInfo" type="tns:TransactionInfo"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransactionInfo">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="PartnerID" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="0" name="PartnerUserID" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="PartnerUserName" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="PartnerTransactionID" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="PartnerTransactionTime" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Carrier" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetCountryListForCarrierResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetCountryListForCarrierResult" type="tns:CountryListForCarrier"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CountryListForCarrier">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="GlobalCommonResponse" type="tns:GlobalCommonResponse"/>
          <s:element maxOccurs="1" minOccurs="0" name="CountryList" type="tns:ArrayOfCountry"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="GlobalCommonResponse">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="WSVersionNumber" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="RequestID" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="PartnerID" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="0" name="PartnerTransactionID" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="PartnerTransactionTime" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="PartnerUserID" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Carrier" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="SiteID" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="0" name="TransactionType" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCountry">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Country" nillable="true" type="tns:Country"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Country">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Code" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="PostalCodeFormat" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="SecuritySoapHeader" type="tns:SecuritySoapHeader"/>
      <s:complexType name="SecuritySoapHeader">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="WSVersionNumber" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Signature" type="s:base64Binary"/>
          <s:element maxOccurs="1" minOccurs="1" name="PartnerID" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="0" name="PartnerUserID" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="SiteID" type="s:int"/>
        </s:sequence>
        <s:anyAttribute/>
      </s:complexType>
      <s:element name="GetMailServicesDetails">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="TransactionInfo" type="tns:TransactionInfo"/>
            <s:element maxOccurs="1" minOccurs="0" name="DestinationCountryCode" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="ProvideCountryRestrictionInfo" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMailServicesDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetMailServicesDetailsResult" type="tns:GlobalMailServiceOutputResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GlobalMailServiceOutputResult">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="GlobalCommonResponse" type="tns:GlobalCommonResponse"/>
          <s:element maxOccurs="1" minOccurs="0" name="MailServiceList" type="tns:MailServiceList"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="MailServiceList">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="DestinationCountryCode" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="DestinationCountryName" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Prohibitions" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Restrictions" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Observations" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="MailService" type="tns:ArrayOfMailService"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMailService">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="MailService" nillable="true" type="tns:MailService"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="MailService">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Description" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="FormList" type="tns:ArrayOfForm"/>
          <s:element maxOccurs="1" minOccurs="0" name="MailServiceGroupList" type="tns:MailServiceGroupList"/>
          <s:element maxOccurs="1" minOccurs="0" name="SpecialServiceList" type="tns:ArrayOfSpecialService"/>
          <s:element maxOccurs="1" minOccurs="0" name="PackageDimensionRules" type="tns:PackageDimensionRules"/>
          <s:element maxOccurs="1" minOccurs="0" name="PackageWeightRules" type="tns:PackageWeightRules"/>
          <s:element maxOccurs="1" minOccurs="0" name="RequiredForms" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfForm">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Form" nillable="true" type="tns:Form"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Form">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Description" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="ContentValueFrom" type="s:decimal"/>
          <s:element maxOccurs="1" minOccurs="1" name="ContentValueTo" type="s:decimal"/>
          <s:element maxOccurs="1" minOccurs="1" name="Required" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="MailServiceGroupList">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="MailServiceGroup" type="tns:MailServiceGroup"/>
          <s:element maxOccurs="1" minOccurs="0" name="MailServiceOptionList" type="tns:ArrayOfString"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="MailServiceGroup">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="MailServiceOption" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSpecialService">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="SpecialService" nillable="true" type="tns:SpecialService"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="SpecialService">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="InputValueRequired" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="1" name="MaxInputValue" type="s:decimal"/>
          <s:element maxOccurs="1" minOccurs="1" name="ConditionalFlag" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="0" name="RequiredList" type="tns:ArrayOfString1"/>
          <s:element maxOccurs="1" minOccurs="0" name="ExcludedList" type="tns:ArrayOfString2"/>
          <s:element maxOccurs="1" minOccurs="0" name="PackageWeightRules" type="tns:PackageWeightRules"/>
          <s:element maxOccurs="1" minOccurs="0" name="PackageDimensionRules" type="tns:PackageDimensionRules"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString1">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Required" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString2">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Excluded" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="PackageWeightRules">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="WeightUOM" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="MaxKGorLB" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="MaxGMorOZ" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="PackageDimensionRules">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="DimensionUOM" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="MinLength" type="s:decimal"/>
          <s:element maxOccurs="1" minOccurs="1" name="MinWidth" type="s:decimal"/>
          <s:element maxOccurs="1" minOccurs="1" name="MinHeight" type="s:decimal"/>
          <s:element maxOccurs="1" minOccurs="1" name="MaxLength" type="s:decimal"/>
          <s:element maxOccurs="1" minOccurs="1" name="MaxWidth" type="s:decimal"/>
          <s:element maxOccurs="1" minOccurs="1" name="MaxHeight" type="s:decimal"/>
          <s:element maxOccurs="1" minOccurs="1" name="MaxGirth" type="s:decimal"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GlobalRatesAV">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="TransactionInfo" type="tns:TransactionInfo"/>
            <s:element maxOccurs="1" minOccurs="0" name="ProcessingInfo" type="tns:ProcessingInfo"/>
            <s:element maxOccurs="1" minOccurs="0" name="GlobalRatingInput" type="tns:GlobalRatingInput"/>
            <s:element maxOccurs="1" minOccurs="0" name="SenderAddress" type="tns:GlobalAddress"/>
            <s:element maxOccurs="1" minOccurs="0" name="DestinationAddress" type="tns:GlobalAddress"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProcessingInfo">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="ProcessingFlag" type="tns:ProcessingFlagOption"/>
          <s:element maxOccurs="1" minOccurs="1" name="AVCaseStandardization" type="tns:Case"/>
          <s:element maxOccurs="1" minOccurs="1" name="AVVerboseMessage" type="tns:Verbose"/>
          <s:element maxOccurs="1" minOccurs="1" name="AVConstructValidLastLine" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="1" name="VerifySenderAddress" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="1" name="VerifyCarrierPickUp" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="1" name="ProvideWeightDimensionRestrictionRules" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="1" name="ProvideCountryRestrictionInfo" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="1" name="ProvidePackedRatesInfo" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ProcessingFlagOption">
        <s:restriction base="s:string">
          <s:enumeration value="RatesOnly"/>
          <s:enumeration value="AddressOnly"/>
          <s:enumeration value="RatesAndAddress"/>
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="Case">
        <s:restriction base="s:string">
          <s:enumeration value="Lower"/>
          <s:enumeration value="Mixed"/>
          <s:enumeration value="Upper"/>
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="Verbose">
        <s:restriction base="s:string">
          <s:enumeration value="No"/>
          <s:enumeration value="Yes"/>
          <s:enumeration value="Debug"/>
          <s:enumeration value="Presort"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType name="GlobalRatingInput">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="MailServiceName" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="MailServiceOptionList" type="tns:ArrayOfString"/>
          <s:element maxOccurs="1" minOccurs="0" name="SpecialServiceList" type="tns:ArrayOfSpecialServiceRatingInput"/>
          <s:element maxOccurs="1" minOccurs="0" name="OriginPostalCode" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="MailDate" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="DesiredPickupDate" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="PackageDimension" type="tns:PackageDimension"/>
          <s:element maxOccurs="1" minOccurs="0" name="PackageWeight" type="tns:PackageWeight"/>
          <s:element maxOccurs="1" minOccurs="0" name="ContractNumber" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSpecialServiceRatingInput">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="SpecialService" nillable="true" type="tns:SpecialServiceRatingInput"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="SpecialServiceRatingInput">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="InputValue" type="s:decimal"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="PackageDimension">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="DimensionUOM" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="Length" type="s:decimal"/>
          <s:element maxOccurs="1" minOccurs="1" name="Width" type="s:decimal"/>
          <s:element maxOccurs="1" minOccurs="1" name="Height" type="s:decimal"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="PackageWeight">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="WeightUOM" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="KGorLB" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="GMorOZ" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="GlobalAddress">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Company" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Address1" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Address2" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Address3" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="City" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="StateOrProvince" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="PostalCode" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Zip4" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="UrbanizationName" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Country" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="CountryName" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Phone" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Extension" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Fax" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Email" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GlobalRatesAVResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GlobalRatesAVResult" type="tns:GlobalRatingOutputResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GlobalRatingOutputResult">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="GlobalCommonResponse" type="tns:GlobalCommonResponse"/>
          <s:element maxOccurs="1" minOccurs="0" name="GlobalRatingOutput" type="tns:GlobalRateResponse"/>
          <s:element maxOccurs="1" minOccurs="0" name="SenderAddress" type="tns:GlobalAddress"/>
          <s:element maxOccurs="1" minOccurs="0" name="VerifiedDestinationAddress" type="tns:GlobalAddress"/>
          <s:element maxOccurs="1" minOccurs="0" name="CarrierPickupResponse" type="tns:CarrierPickupResponse"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="GlobalRateResponse">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="MailServiceName" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="TotalAmount" type="s:decimal"/>
          <s:element maxOccurs="1" minOccurs="0" name="ProductID" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="PriceListVersion" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="ServiceStandard" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Zone" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="SurchargeIndicator" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="RateCategory" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Prohibitions" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Restrictions" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Observations" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="MailDate" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="PackedRatesInfo" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="FormList" type="tns:ArrayOfForm"/>
          <s:element maxOccurs="1" minOccurs="0" name="MailServiceOptionList" type="tns:ArrayOfString"/>
          <s:element maxOccurs="1" minOccurs="0" name="Charges" type="tns:Charges"/>
          <s:element maxOccurs="1" minOccurs="0" name="PackageDimension" type="tns:PackageDimension"/>
          <s:element maxOccurs="1" minOccurs="0" name="PackageWeight" type="tns:PackageWeight"/>
          <s:element maxOccurs="1" minOccurs="0" name="PackageDimWeight" type="tns:PackageWeight"/>
          <s:element maxOccurs="1" minOccurs="0" name="PackageDimensionRules" type="tns:PackageDimensionRules"/>
          <s:element maxOccurs="1" minOccurs="0" name="PackageWeightRules" type="tns:PackageWeightRules"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Charges">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="BaseCharge" type="s:decimal"/>
          <s:element maxOccurs="1" minOccurs="0" name="SurchargeList" type="tns:ArrayOfSurchargeOutput"/>
          <s:element maxOccurs="1" minOccurs="0" name="DiscountList" type="tns:ArrayOfDiscountOutput"/>
          <s:element maxOccurs="1" minOccurs="0" name="TaxList" type="tns:ArrayOfTaxOutput"/>
          <s:element maxOccurs="1" minOccurs="0" name="SpecialServiceList" type="tns:ArrayOfSpecialServiceRatingOutput"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSurchargeOutput">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Surcharge" nillable="true" type="tns:SurchargeOutput"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="SurchargeOutput">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="Fee" type="s:decimal"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDiscountOutput">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Discount" nillable="true" type="tns:DiscountOutput"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="DiscountOutput">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="Amount" type="s:decimal"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTaxOutput">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Tax" nillable="true" type="tns:TaxOutput"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="TaxOutput">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Code" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="Amount" type="s:decimal"/>
          <s:element maxOccurs="1" minOccurs="1" name="Percentage" type="s:decimal"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSpecialServiceRatingOutput">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="SpecialService" nillable="true" type="tns:SpecialServiceRatingOutput"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="SpecialServiceRatingOutput">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="InputValue" type="s:decimal"/>
          <s:element maxOccurs="1" minOccurs="1" name="Fee" type="s:decimal"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="CarrierPickupResponse">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="Available" type="tns:CarrierPickupAvailabilityStatus"/>
          <s:element maxOccurs="1" minOccurs="1" name="Fee" type="s:decimal"/>
          <s:element maxOccurs="1" minOccurs="0" name="ErrorCode" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="ErrorDescription" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="PickupDateList" type="tns:ArrayOfPickupDate"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CarrierPickupAvailabilityStatus">
        <s:restriction base="s:string">
          <s:enumeration value="True"/>
          <s:enumeration value="False"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfPickupDate">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="PickupDate" nillable="true" type="tns:PickupDate"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="PickupDate">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Date" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GlobalRatesAVSoapOut">
    <wsdl:part name="parameters" element="tns:GlobalRatesAVResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMailServicesDetailsSecuritySoapHeader">
    <wsdl:part name="SecuritySoapHeader" element="tns:SecuritySoapHeader"/>
  </wsdl:message>
  <wsdl:message name="GetMailServicesDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMailServicesDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="GlobalRatesAVSecuritySoapHeader">
    <wsdl:part name="SecuritySoapHeader" element="tns:SecuritySoapHeader"/>
  </wsdl:message>
  <wsdl:message name="GetCountryListForCarrierSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountryListForCarrier"/>
  </wsdl:message>
  <wsdl:message name="GetCountryListForCarrierSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountryListForCarrierResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMailServicesDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMailServicesDetails"/>
  </wsdl:message>
  <wsdl:message name="GlobalRatesAVSoapIn">
    <wsdl:part name="parameters" element="tns:GlobalRatesAV"/>
  </wsdl:message>
  <wsdl:message name="GetCountryListForCarrierSecuritySoapHeader">
    <wsdl:part name="SecuritySoapHeader" element="tns:SecuritySoapHeader"/>
  </wsdl:message>
  <wsdl:portType name="GlobalRatesAVServiceSoap">
    <wsdl:operation name="GetCountryListForCarrier">
      <wsdl:input message="tns:GetCountryListForCarrierSoapIn"/>
      <wsdl:output message="tns:GetCountryListForCarrierSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetMailServicesDetails">
      <wsdl:input message="tns:GetMailServicesDetailsSoapIn"/>
      <wsdl:output message="tns:GetMailServicesDetailsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GlobalRatesAV">
      <wsdl:input message="tns:GlobalRatesAVSoapIn"/>
      <wsdl:output message="tns:GlobalRatesAVSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GlobalRatesAVServiceSoap12" type="tns:GlobalRatesAVServiceSoap">
    <soap12:binding xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCountryListForCarrier">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://iop.pb.com/WebServices/GetCountryListForCarrier" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
    <soap12:header xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" message="tns:GetCountryListForCarrierSecuritySoapHeader" part="SecuritySoapHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailServicesDetails">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://iop.pb.com/WebServices/GetMailServicesDetails" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
    <soap12:header xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" message="tns:GetMailServicesDetailsSecuritySoapHeader" part="SecuritySoapHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GlobalRatesAV">
    <soap12:operation xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" soapAction="http://iop.pb.com/WebServices/GlobalRatesAV" style="document"/>
      <wsdl:input>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
    <soap12:header xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" message="tns:GlobalRatesAVSecuritySoapHeader" part="SecuritySoapHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GlobalRatesAVServiceSoap" type="tns:GlobalRatesAVServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCountryListForCarrier">
      <soap:operation soapAction="http://iop.pb.com/WebServices/GetCountryListForCarrier" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:GetCountryListForCarrierSecuritySoapHeader" part="SecuritySoapHeader" use="literal">
        </soap:header>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailServicesDetails">
      <soap:operation soapAction="http://iop.pb.com/WebServices/GetMailServicesDetails" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:GetMailServicesDetailsSecuritySoapHeader" part="SecuritySoapHeader" use="literal">
        </soap:header>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GlobalRatesAV">
      <soap:operation soapAction="http://iop.pb.com/WebServices/GlobalRatesAV" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:GlobalRatesAVSecuritySoapHeader" part="SecuritySoapHeader" use="literal">
        </soap:header>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GlobalRatesAVService">
    <wsdl:port name="GlobalRatesAVServiceSoap12" binding="tns:GlobalRatesAVServiceSoap12">
    <soap12:address xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" location="http://bnbuspro4rav.test.pb.com/WebService/GlobalRatesAVService.asmx"/>
    </wsdl:port>
    <wsdl:port name="GlobalRatesAVServiceSoap" binding="tns:GlobalRatesAVServiceSoap">
      <soap:address location="http://bnbuspro4rav.test.pb.com/WebService/GlobalRatesAVService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
