repository-service/WSO2EventingV1/src/main/resources/META-INF/soa/services/wsdl/EventBrokerService/EventBrokerService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://ws.apache.org/axis2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:documentation>EventBrokerService</wsdl:documentation>
    <wsdl:types />
    <wsdl:message name="installEventSinkRequest" />
    <wsdl:message name="installEventSinkResponse" />
    <wsdl:message name="subscriptionEndRequest" />
    <wsdl:message name="subscriptionEndResponse" />
    <wsdl:message name="unsubscribeRequest" />
    <wsdl:message name="unsubscribeResponse" />
    <wsdl:message name="getSubscriptionsRequest" />
    <wsdl:message name="getSubscriptionsResponse" />
    <wsdl:message name="renewRequest" />
    <wsdl:message name="renewResponse" />
    <wsdl:message name="getStatusRequest" />
    <wsdl:message name="getStatusResponse" />
    <wsdl:message name="subscribeRequest" />
    <wsdl:message name="subscribeResponse" />
    <wsdl:message name="publishRequest" />
    <wsdl:message name="publishResponse" />
    <wsdl:portType name="EventBrokerServicePortType">
        <wsdl:operation name="installEventSink">
            <wsdl:input message="tns:installEventSinkRequest" wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/installEventSink" />
            <wsdl:output message="tns:installEventSinkResponse" wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/installEventSinkResponse" />
        </wsdl:operation>
        <wsdl:operation name="subscriptionEnd">
            <wsdl:input message="tns:subscriptionEndRequest" wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/SubscriptionEnd" />
            <wsdl:output message="tns:subscriptionEndResponse" wsaw:Action="urn:subscriptionEndResponse" />
        </wsdl:operation>
        <wsdl:operation name="unsubscribe">
            <wsdl:input message="tns:unsubscribeRequest" wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/Unsubscribe" />
            <wsdl:output message="tns:unsubscribeResponse" wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/UnsubscribeResponse" />
        </wsdl:operation>
        <wsdl:operation name="getSubscriptions">
            <wsdl:input message="tns:getSubscriptionsRequest" wsaw:Action="http://ws.apache.org/ws/2007/05/eventing-extended/getSubscriptions" />
            <wsdl:output message="tns:getSubscriptionsResponse" wsaw:Action="http://ws.apache.org/ws/2007/05/eventing-extended/getSubscriptionsResponse" />
        </wsdl:operation>
        <wsdl:operation name="renew">
            <wsdl:input message="tns:renewRequest" wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/Renew" />
            <wsdl:output message="tns:renewResponse" wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/RenewResponse" />
        </wsdl:operation>
        <wsdl:operation name="getStatus">
            <wsdl:input message="tns:getStatusRequest" wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/GetStatus" />
            <wsdl:output message="tns:getStatusResponse" wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/GetStatusResponse" />
        </wsdl:operation>
        <wsdl:operation name="subscribe">
            <wsdl:input message="tns:subscribeRequest" wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/Subscribe" />
            <wsdl:output message="tns:subscribeResponse" wsaw:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/SubscribeResponse" />
        </wsdl:operation>
        <wsdl:operation name="publish">
            <wsdl:input message="tns:publishRequest" wsaw:Action="urn:publish" />
            <wsdl:output message="tns:publishResponse" wsaw:Action="urn:publishResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EventBrokerServiceSoap11Binding" type="tns:EventBrokerServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="subscriptionEnd">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="installEventSink">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="unsubscribe">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSubscriptions">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="renew">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStatus">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="subscribe">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="publish">
            <soap:operation soapAction="urn:publish" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventBrokerServiceSoap12Binding" type="tns:EventBrokerServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="subscriptionEnd">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="installEventSink">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="unsubscribe">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSubscriptions">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="renew">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStatus">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="subscribe">
            <soap12:operation soapAction="" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="publish">
            <soap12:operation soapAction="urn:publish" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventBrokerServiceHttpBinding" type="tns:EventBrokerServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="subscriptionEnd">
            <http:operation location="subscriptionEnd" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="installEventSink">
            <http:operation location="installEventSink" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="unsubscribe">
            <http:operation location="unsubscribe" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSubscriptions">
            <http:operation location="getSubscriptions" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="renew">
            <http:operation location="renew" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStatus">
            <http:operation location="getStatus" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="subscribe">
            <http:operation location="subscribe" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="publish">
            <http:operation location="publish" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EventBrokerService">
        <wsdl:port name="EventBrokerServiceHttpsSoap11Endpoint" binding="tns:EventBrokerServiceSoap11Binding">
            <soap:address location="https://10.8.0.109:9443/services/EventBrokerService.EventBrokerServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="EventBrokerServiceHttpsSoap12Endpoint" binding="tns:EventBrokerServiceSoap12Binding">
            <soap12:address location="https://10.8.0.109:9443/services/EventBrokerService.EventBrokerServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="EventBrokerServiceHttpsEndpoint" binding="tns:EventBrokerServiceHttpBinding">
            <http:address location="https://10.8.0.109:9443/services/EventBrokerService.EventBrokerServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>