integration-tests/AssertionsServiceTests/src/test/resources/WSDL/ArrayShouldNotHaveXsAny/Sample_Fail.wsdl

<?xml version="1.0" encoding="UTF-8" ?> 
<!-- ================================================================== -->
<!--  Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.            -->
<!--  Licensed under the Apache License, Version 2.0 (the "License");   -->
<!--  you may not use this file except in compliance with the License.  -->
<!--  You may obtain a copy of the License at                           -->
<!--                                                                    -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                     -->
<!-- ================================================================== -->
<wsdl:definitions targetNamespace="http://api.webservice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://api.webservice" xmlns:intf="http://api.webservice" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://rpc.xml.coldfusion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- WSDL created by ColdFusion version 8,0,0,176276
  --> 
<wsdl:types>
<schema targetNamespace="http://api.webservice" xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://xml.apache.org/xml-soap" /> 
  <import namespace="http://rpc.xml.coldfusion" /> 
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/> 
  
<complexType name="ArrayOf_xsd_string">
<complexContent>
<restriction base="soapenc:Array">
  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]" /> 
  </restriction>
  <xs:any></xs:any>
  </complexContent>
  </complexType>
  
<complexType name="ArrayOfArrayOf_xsd_anyType">
<complexContent>
<restriction base="soapenc:Array">
  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[][]" /> 
  </restriction>
  </complexContent>
  </complexType> 
  </schema>
  
<schema targetNamespace="http://rpc.xml.coldfusion" xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://api.webservice" /> 
  <import namespace="http://xml.apache.org/xml-soap" /> 
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/" /> 

  <element name="CFCInvocationException">
  <complexType>
    <sequence/> 
  </complexType>
  </element>
  
<complexType name="QueryBean">
<sequence>
  <element name="columnList" nillable="true" type="impl:ArrayOf_xsd_string" /> 
  <element name="data" nillable="true" type="impl:ArrayOfArrayOf_xsd_anyType" /> 
  </sequence>
  </complexType>
  </schema>
  
<schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://api.webservice" /> 
  <import namespace="http://rpc.xml.coldfusion" /> 
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/" /> 
<complexType name="mapItem">
<sequence>
  <element name="key" nillable="true" type="xsd:anyType" /> 
  <element name="value" nillable="true" type="xsd:anyType" /> 
  </sequence>
  </complexType>
<complexType name="Map">
<sequence>
  <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem" /> 
  </sequence>
  </complexType>
  </schema>
  </wsdl:types>
<wsdl:message name="getRopXmlResponse">
  <wsdl:part name="getRopXmlReturn" type="xsd:anyType" /> 
  </wsdl:message>
<wsdl:message name="CFCInvocationException">
  <wsdl:part name="fault" element="tns1:CFCInvocationException"/> 
  </wsdl:message>
<wsdl:message name="getAdvancedSearchDataXmlResponse">
  <wsdl:part name="getAdvancedSearchDataXmlReturn" type="xsd:anyType" /> 
  </wsdl:message>
<wsdl:message name="getProjectDetailsResponse">
  <wsdl:part name="getProjectDetailsReturn" type="tns1:QueryBean" /> 
  </wsdl:message>
<wsdl:message name="getAdvancedSearchDataXmlRequest">
  <wsdl:part name="searchXmlString" type="xsd:anyType" /> 
  </wsdl:message>
<wsdl:message name="getProjectDetailsRequest">
  <wsdl:part name="parentid" type="xsd:double" /> 
  <wsdl:part name="Contact_type_ID" type="xsd:double" /> 
  <wsdl:part name="Contact_Enabled" type="xsd:string" /> 
  <wsdl:part name="form_type" type="xsd:string" /> 
  <wsdl:part name="target_train" type="xsd:string" /> 
  </wsdl:message>
<wsdl:message name="getCarbApprovalResponse">
  <wsdl:part name="getCarbApprovalReturn" type="apachesoap:Map" /> 
  </wsdl:message>
<wsdl:message name="getRopXmlRequest">
  <wsdl:part name="weeknumber" type="xsd:string" /> 
  </wsdl:message>
<wsdl:message name="getCarbApprovalRequest">
  <wsdl:part name="weeknumber" type="xsd:string" /> 
  </wsdl:message>
<wsdl:portType name="trackerapi">
<wsdl:operation name="getProjectDetails" parameterOrder="parentid Contact_type_ID Contact_Enabled form_type target_train">
  <wsdl:input message="impl:getProjectDetailsRequest" name="getProjectDetailsRequest" /> 
  <wsdl:output message="impl:getProjectDetailsResponse" name="getProjectDetailsResponse" /> 
  <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException" /> 
  </wsdl:operation>
<wsdl:operation name="getAdvancedSearchDataXml" parameterOrder="searchXmlString">
  <wsdl:input message="impl:getAdvancedSearchDataXmlRequest" name="getAdvancedSearchDataXmlRequest" /> 
  <wsdl:output message="impl:getAdvancedSearchDataXmlResponse" name="getAdvancedSearchDataXmlResponse" /> 
  <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException" /> 
  </wsdl:operation>
<wsdl:operation name="getRopXml" parameterOrder="weeknumber">
  <wsdl:input message="impl:getRopXmlRequest" name="getRopXmlRequest" /> 
  <wsdl:output message="impl:getRopXmlResponse" name="getRopXmlResponse" /> 
  <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException" /> 
  </wsdl:operation>
<wsdl:operation name="getCarbApproval" parameterOrder="weeknumber">
  <wsdl:input message="impl:getCarbApprovalRequest" name="getCarbApprovalRequest" /> 
  <wsdl:output message="impl:getCarbApprovalResponse" name="getCarbApprovalResponse" /> 
  <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException" /> 
  </wsdl:operation>
  </wsdl:portType>
<wsdl:binding name="TrackerAPI.cfcSoapBinding" type="impl:trackerapi">
 <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" /> 
<wsdl:operation name="getProjectDetails">
  <wsdlsoap:operation soapAction="" /> 
<wsdl:input name="getProjectDetailsRequest">
  <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.webservice" use="encoded" /> 
  </wsdl:input>
<wsdl:output name="getProjectDetailsResponse">
  <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.webservice" use="encoded" /> 
  </wsdl:output>
<wsdl:fault name="CFCInvocationException">
  <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="CFCInvocationException" namespace="http://api.webservice" use="encoded" /> 
  </wsdl:fault>
  </wsdl:operation>
<wsdl:operation name="getAdvancedSearchDataXml">
  <wsdlsoap:operation soapAction="" /> 
<wsdl:input name="getAdvancedSearchDataXmlRequest">
  <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.webservice" use="encoded" /> 
  </wsdl:input>
<wsdl:output name="getAdvancedSearchDataXmlResponse">
  <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.webservice" use="encoded" /> 
  </wsdl:output>
<wsdl:fault name="CFCInvocationException">
  <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="CFCInvocationException" namespace="http://api.webservice" use="encoded" /> 
  </wsdl:fault>
  </wsdl:operation>
<wsdl:operation name="getRopXml">
  <wsdlsoap:operation soapAction="" /> 
<wsdl:input name="getRopXmlRequest">
  <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.webservice" use="encoded" /> 
  </wsdl:input>
<wsdl:output name="getRopXmlResponse">
  <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.webservice" use="encoded" /> 
  </wsdl:output>
<wsdl:fault name="CFCInvocationException">
  <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="CFCInvocationException" namespace="http://api.webservice" use="encoded" /> 
  </wsdl:fault>
  </wsdl:operation>
<wsdl:operation name="getCarbApproval">
  <wsdlsoap:operation soapAction="" /> 
<wsdl:input name="getCarbApprovalRequest">
  <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.webservice" use="encoded" /> 
  </wsdl:input>
<wsdl:output name="getCarbApprovalResponse">
  <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://api.webservice" use="encoded" /> 
  </wsdl:output>
<wsdl:fault name="CFCInvocationException">
  <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="CFCInvocationException" namespace="http://api.webservice" use="encoded" /> 
  </wsdl:fault>
  </wsdl:operation>
  </wsdl:binding>
<wsdl:service name="trackerapiService">
<wsdl:port binding="impl:TrackerAPI.cfcSoapBinding" name="TrackerAPI.cfc">
  <wsdlsoap:address location="http://trackerbatch.corp.ebay.com/webservice/api/TrackerAPI.cfc" /> 
  </wsdl:port>
  </wsdl:service>
  </wsdl:definitions>
